<app-header></app-header>


<br>
<div class="background-image">
    <div class="container">
        <div class="row">
            <div class="col-md-12 d-flex align-items-center justify-content-center">
                <h4 style="display: inline-block;">Discover Our Amazing Hotels</h4>
                <a routerLink="/hotel-list" class="btn btn-custom ml-auto" id="seeAllHotelsBtn">See all Hotels</a>
            </div>


        </div>
        <div class="row">
            <div class="col-md-12  align-items-center">
                <div class="second hero">
                    <img class="hero-profile-img" src="../assets/hotel1.jpg" alt="">
                    <div class="hero-description-bk"></div>
                    <div class="hero-logo">
                        <img src="../assets/logo.jpg" alt="logo">
                    </div>
                    <div class="hero-description">
                        <p>5 Star Hotel</p>
                    </div>
                    <div class="hero-date">
                        <p>20.02.2019</p>
                    </div>
                    <div class="hero-btn">
                        <a routerLink="/login" class="hero-btn">Book</a>

                    </div>
                </div>

                <div class="second hero">
                    <img class="hero-profile-img" src="../assets/hotel2.jpg" alt="">
                    <div class="hero-description-bk"></div>
                    <div class="hero-logo">
                        <img src="../assets/logo.jpg" alt="logo">
                    </div>
                    <div class="hero-description">
                        <p>BOOM BOOM
                        </p>
                    </div>
                    <div class="hero-date">
                        <p>20.02.2019</p>
                    </div>
                    <div class="hero-btn">
                        <a routerLink="/login" class="hero-btn">Book</a>

                    </div>
                </div>
                <div class="second hero">
                    <img class="hero-profile-img" src="../assets/hotel3.jpg" alt="">
                    <div class="hero-description-bk"></div>
                    <div class="hero-logo">
                        <img src="../assets/logo.jpg" alt="logo">
                    </div>
                    <div class="hero-description">
                        <p>Hyderbad ka king</p>
                    </div>
                    <div class="hero-date">
                        <p>20.02.2019</p>
                    </div>
                    <div class="hero-btn">
                        <a routerLink="/login" class="hero-btn">Book</a>

                    </div>
                </div>
                <div class="second hero">
                    <img class="hero-profile-img" src="../assets/hotel4.png" alt="">
                    <div class="hero-description-bk"></div>
                    <div class="hero-logo">
                        <img src="../assets/logo.jpg" alt="logo">
                    </div>
                    <div class="hero-description">
                        <p>KING KONG CHENNAI</p>
                    </div>
                    <div class="hero-date">
                        <p>20.02.2019</p>
                    </div>
                    <div class="hero-btn">
                        <a routerLink="/login" class="hero-btn">Book</a>

                    </div>
                </div>
                <div class="second hero">
                    <img class="hero-profile-img" src="../assets/hotel5.jpg" alt="">
                    <div class="hero-description-bk"></div>
                    <div class="hero-logo">
                        <img src="../assets/logo.jpg" alt="logo">
                    </div>
                    <div class="hero-description">
                        <p>Karanataka ka baap.</p>
                    </div>
                    <div class="hero-date">
                        <p>20.02.2019</p>
                    </div>
                    <div class="hero-btn">
                        <a routerLink="/login" class="hero-btn">Book</a>

                    </div>
                </div>
                <div class="second hero">
                    <img class="hero-profile-img" src="../assets/hotel6.jpg" alt="">
                    <div class="hero-description-bk"></div>
                    <div class="hero-logo">
                        <img src="../assets/logo.jpg" alt="logo">
                    </div>
                    <div class="hero-description">
                        <p>MODI KA HOTEL</p>
                    </div>
                    <div class="hero-date">
                        <p>ONLY FOR VIPS</p>
                    </div>
                    <div class="hero-btn">
                        <a routerLink="/login" class="hero-btn">Book</a>

                    </div>




                </div>
            </div>
        </div>
    </div>


    <app-footer></app-footer>