<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="../assets/logo.jpg" alt="Cozy Haven Logo" height="40">
            COZY HAVEN</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link active" routerLink="/user-dashboard">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/mybooking">MyBooking</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/booking">Booking</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/profile">Profile</a>
                </li>
            </ul>
        </div>

        <div>
            <button class="butt1">Log Out</button>
        </div>



    </div>
</nav>
<div class="background-image">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        <h2>Cozy Haven Hotels</h2>
                    </div>
                    <div class="card-body">
                        <form [formGroup]="searchForm" (ngSubmit)="onSubmit()">
                            <div class="form-group">
                                <label for="checkin">Check-in date</label>
                                <input type="date" id="checkin" formControlName="checkin" class="form-control" />
                                <div *ngIf="searchForm.get('checkin')?.errors?.['required'] && searchForm.get('checkin')?.touched"
                                    class="error-message">Check-in date is required</div>
                            </div>
                            <div class="form-group">
                                <label for="checkout">Check-out date</label>
                                <input type="date" id="checkout" formControlName="checkout" class="form-control" />
                                <div *ngIf="searchForm.get('checkout')?.errors?.['required'] && searchForm.get('checkout')?.touched"
                                    class="error-message">Check-out date is required</div>
                                <div *ngIf="searchForm.get('checkout')?.errors?.['min'] && searchForm.get('checkout')?.touched"
                                    class="error-message">Check-out date should be after check-in date</div>
                            </div>
                            <div class="form-group">
                                <label for="destination">Destination or property</label>
                                <input type="text" id="destination" formControlName="destination"
                                    class="form-control" />
                                <div *ngIf="searchForm.get('destination')?.errors?.['required'] && searchForm.get('destination')?.touched"
                                    class="error-message">Destination or property is required</div>
                            </div>
                            <button type="submit" class="btn btn-primary" [disabled]="!searchForm.valid">Search</button>
                        </form>



                    </div>

                </div>

                <br>
            </div>
        </div>
    </div>
</div>



<app-footer></app-footer>