<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="../assets/logo.jpg" alt="Cozy Haven Logo" height="40">
            COZY HAVEN</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link active" routerLink="/hotelowner-dashboard">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/mybooking">ManageBooking</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/booking">Add Rooms</a>
                </li>
            </ul>
        </div>

        <div>
            <button class="butt1">Log Out</button>
        </div>



    </div>
</nav>
<div class="landing-page">
    <img class="Top_most" src="../assets/hotelownerdashboard.jpg" alt="Landing Page Picture" />
    <div class="centered-text">
        <h1>Cozy Haven</h1>
        <p>Welcome To Hotel Owner Dashboard</p>
    </div>
</div>