<!DOCTYPE html>
<html>

<head>
    <title>HotelOwner Dashboard</title>

</head>

<body>
    <header class="header">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="text-center">
                        <img src="assest/logo.jpg" alt="logo">
                        <h1>My Hotel</h1>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3 sidebar">
                <ul class="list-unstyled">
                    <li class="active">
                        <a data-section="profile">Profile</a>
                    </li>
                    <li>
                        <a href="#" data-section="manage-rooms">Manage Rooms</a>
                    </li>
                    <li>
                        <a href="#" data-section="manage-bookings">Manage My hotelBookings</a>
                    </li>
                    <li>
                        <a href="#" data-section="manage-users">Manage MyUsers</a>
                    </li>
                    <li>
                        <a href="#" data-section="logout">Log Out</a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-9 content">
                <section id="profile" class="section active">
                    <h2>Welcome to HotelOwner dashboard</h2>

                </section>


                <section id="manage-rooms" class="section">
                    <h2>Manage rooms</h2>

                </section>

                <section id="manage-bookings" class="section">
                    <h2>Manage My hotelBookings</h2>

                </section>

                <section id="manage-users" class="section">
                    <h2>Manage MyUsers</h2>

                </section>
            </div>
        </div>
    </div>



</body>

</html>