<!DOCTYPE html>
<html>

<head>
    <title>Admin Dashboard</title>


</head>

<body>
    <header class="header">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="text-center">
                        <img src="asset/logo.jpg" alt="Logo">
                        <h1>Cozy Haven</h1>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3 sidebar">
                <ul class="list-unstyled">
                    <li class="active">
                        <a data-section="profile">Profile</a>
                    </li>
                    <li>
                        <a data-section="signup">Add Admin</a>
                    </li>

                    <li>
                        <a href="#" data-section="manage-hotels">Manage Hotels</a>
                    </li>
                    <li>
                        <a href="#" data-section="manage-bookings">Manage Bookings</a>
                    </li>
                    <li>
                        <a href="#" data-section="manage-customers">Manage Users</a>
                    </li>
                    <li>
                        <a href="#" data-section="logout">Log Out</a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-9 content">
                <section id="profile" class="section active">
                    <h2>Welcome to admin dashboard</h2>

                </section>

                <section id="signup" class="section">
                    <h2>Add Admin</h2>

                </section>


                <section id="manage-hotels" class="section">
                    <h2>Manage Hotels</h2>

                </section>

                <section id="manage-bookings" class="section">
                    <h2>Manage Bookings</h2>

                </section>

                <section id="manage-users" class="section">
                    <h2>Manage Customers</h2>

                </section>
            </div>
        </div>
    </div>



</body>

</html>