<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="../assets/logo.jpg" alt="Cozy Haven Logo" height="40">
            COZY HAVEN</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link active" routerLink="/admindashboard">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/addadmin">Add Admin</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/managehotelowners">Manage HotelOwners</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/manageusers">Manage Users</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/managebookings">Manage Bookings</a>
                </li>
            </ul>
        </div>

        <div>
            <button class="butt1">Log Out</button>
        </div>

    </div>
</nav>
<div class="landing-page">
    <img class="Top_most" src="../assets/admindashboard.jpg" alt="Landing Page Picture" />
    <div class="centered-text">
        <h1 class="animated-text">
            <span>W</span>
            <span>e</span>
            <span>l</span>
            <span>c</span>
            <span>o</span>
            <span>m</span>
            <span>e</span>
            <span> </span>
            <span>T</span>
            <span>o</span>
            <span> </span>
            <span>A</span>
            <span>d</span>
            <span>m</span>
            <span>i</span>
            <span>n</span>
            <span> </span>
            <span>D</span>
            <span>a</span>
            <span>s</span>
            <span>h</span>
            <span>b</span>
            <span>o</span>
            <span>a</span>
            <span>r</span>
            <span>d</span>
        </h1>
    </div>
</div>